<div class="rrss noselect transition">
	<div class="menu">
	</div>
	<div class="logo">
	</div>
	<div class="glow-back"></div>
	<!-- CONTENT -->
	<div class="glow">
		<div class="column entrantes">
			<h1>RRSS<strong>ENTRANTES</strong></h1>
			<div class="toolbar">
				<div class="group">
					<input type="text" name="search">
					<a href="#" class="btn btn-search">Buscar</a>
				</div>
				<!--label class="switch facebook">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
				<label class="switch twitter">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label-->
			</div>
			<div class="mentions">
				<!-- dinamico -->
			</div>
		</div>
		<div class="column aprobados">
			<h1>RRSS<strong>AL AIRE</strong></h1>
			<div class="toolbar">
				<a href="#" class="btn btn-delete-all">Borrar todo</a>
				<!--label class="switch facebook">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
				<label class="switch twitter">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label-->
			</div>
			<div class="mentions">
				<!-- dinamico -->
			</div>
		</div>
	</div>
	<!-- CONTENT -->
	<div class="dotted-line top"></div>
	<div class="dotted-line bottom"></div>
</div>

<div class="copyright">
	Powered by <img src="/torus/images/sh_logo.png">
</div>

<script type="text/javascript" src="/torus/javascripts/scripts.js"></script>