<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel='stylesheet' href='/torus/stylesheets/style.css' />
    <script type="text/javascript" src="/torus/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script>
      var socket = io();
      var topic = '{{topic}}';
    </script>
     <script src="/js/modal.js"></script>
    <script src="/js/modaal.js"></script>
    <script type="text/javascript" src="/torus/javascripts/scripts.rrss.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
