<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="Ahora Noticias">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/leaflet.css"> <!-- leaflet -->
        <link rel="stylesheet" href="/css/estilos.css"> <!-- estilos principales -->
        <link rel="stylesheet" href="/css/social-hound.css"> <!-- estilos principales -->
        <link rel="stylesheet" href="/css/iconos-antransito.css"> <!-- Íconos An Tránsito -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css"> <!-- OWL Carousel -->
        <link rel="stylesheet" href="/css/owl.theme.default.min.css"> <!-- OWL Carousel -->
        <link rel="stylesheet" href="/css/animate.css?=09022018"> <!-- Animations -->
        <!-- JS -->
        <script src="/js/leaflet.js"></script>
        <script src="/js/jquery.min.js"></script>    
        <script src="/js/leaftlet.hotline.min.js"></script>
        <script src="/js/leaflet.polylineDecorator.js"></script>
        <script src="/js/leaftlet.textpath.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script>
          var socket = io();
          var map;
        </script>
        <script src="/js/scripts_map.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js"></script>
    </head>
    {{{body}}}
</html>