<body class="login">
    <section class="contenedor login">
        <div class="fila titulo">
            <h1>PANEL DE ACCESO</h1>
        </div>
        <div class="fila usuario-contrasena">
            <form method="post">
                <div class="fila">
                    <input type="text" name="u" placeholder="Usuario" required="required" />
                </div>
                <div class="fila">
                    <input type="password" name="p" placeholder="Contraseña" required="required" />
                </div>
                <div class="fila">
                    <button type="submit" class="ingresar"><i class="icono-derecha"></i>Ingresar</button>
                </div>
            </form>               
        </div>
    </section>   
</body>