<body>
    <header>
        <div class="fila cabecera">
            <div class="columna logo">
                <a href="#"><img src="/imagenes/socialhound-w.png"/></a>
            </div>
        </div>
    </header>
    <section class="contenedor twitter-disponibles">
        <div class="fila titulo">
            <h1>{{hashtag}}</h1>
        </div>
        <div class="fila twitter">
            <!-- Inbox #ANTRANSITO -->
            <div class="columna antransito-twitter entrantes">
                <div class="titulo-twitter">
                    <div class="col text-left">
                        <button class="btn anterior-btn">anterior</button>
                    </div>
                    <div class="col titulo-entra text-center">
                        <h2>Entrantes</h2>
                    </div>
                    <div class="col text-right">
                        <button class="btn siguiente-btn">siguiente</button>
                    </div>
                    <div class="col-12">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline search-mention">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
                            </form>
                        </nav>
                    </div>
                </div>
                <!-- panel lateral de opciones -->
                <div class="panel-opciones">
                    <ul>
                        <li><a href="#"><i class="icono-cerrar"></i> Borrar seleccionado(s)</a></li>
                    </ul>
                </div>
                <div class="contenedor-tweets">
                    <!-- fila 1 -->
                    <div class="fila inbox 1">
                        <!-- Tweet entrante 1 -->
                        <div class="columna tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="fila datos-usuario">
                                        <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                        <div class="columna fecha-ubicacion">
                                            <div class="fecha">
                                                <p><i class="icono-calendario"></i> 29/01/20187</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p><i class="icono-geolocalizador"></i>Santiago, Chile</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <form>
                                        <div class="boton-eliminar-tweet"><input type="checkbox" name="eliminar-tweet" /> Eliminar
                                        </div>
                                        <div class="boton-aprobar-tweet"><a class="aprobar-tweet" href="#" data-popup="popup"><i class="icono-aprobado"></i> Aprobar</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- fin Tweet entrante 1 -->
                        <!-- Tweet entrante 2 -->
                        <div class="columna tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="fila datos-usuario">
                                        <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                        <div class="columna fecha-ubicacion">
                                            <div class="fecha">
                                                <p><i class="icono-calendario"></i> 29/01/20187</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p><i class="icono-geolocalizador"></i>Viña del Mar, Chile</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <form>
                                        <div class="boton-eliminar-tweet"><input type="checkbox" name="eliminar-tweet" /> Eliminar
                                        </div>
                                        <div class="boton-aprobar-tweet"><a class="aprobar-tweet" href="#" data-popup="popup"><i class="icono-aprobado"></i> Aprobar</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- fin Tweet entrante 2 -->
                    </div>
                    <!-- fin fila 1 -->
                    
                    <!-- fila 2 -->
                    <div class="fila inbox 1">
                        <!-- Tweet entrante 3 -->
                        <div class="columna tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="fila datos-usuario">
                                        <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                        <div class="columna fecha-ubicacion">
                                            <div class="fecha">
                                                <p><i class="icono-calendario"></i> 29/01/20187</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p><i class="icono-geolocalizador"></i>Valdivia, Chile</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <form>
                                        <div class="boton-eliminar-tweet"><input type="checkbox" name="eliminar-tweet" /> Eliminar
                                        </div>
                                        <div class="boton-aprobar-tweet"><a class="aprobar-tweet" href="#" data-popup="popup"><i class="icono-aprobado"></i> Aprobar</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- fin Tweet entrante 3 -->
                        <!-- Tweet entrante 4 -->
                        <div class="columna tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="fila datos-usuario">
                                        <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                        <div class="columna fecha-ubicacion">
                                            <div class="fecha">
                                                <p><i class="icono-calendario"></i> 29/01/20187</p>
                                            </div>
                                            <div class="ubicacion">
                                                <p><i class="icono-geolocalizador"></i>Arica, Chile</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <form>
                                        <div class="boton-eliminar-tweet"><input type="checkbox" name="eliminar-tweet" /> Eliminar
                                        </div>
                                        <div class="boton-aprobar-tweet"><a class="aprobar-tweet" href="#" data-popup="popup"><i class="icono-aprobado"></i> Aprobar</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- fin Tweet entrante 4 -->
                    </div>
                    <!-- fin fila 2 -->
                    
                </div>
            </div>
            <!-- TWEET APROBADOS -->
            <div class="columna antransito-twitter aprobados">
                <div class="titulo-twitter">
                    <h2><i class="icono-tweet-aprobado"></i> Aprobados</h2>
                    <!--div class="swicht-twitter">
                       <input type="checkbox" id="id-name--1" name="set-name" class="switch-input">
	                   <label for="id-name--1" class="switch-label">Twitter <span class="toggle--on">On</span><span class="toggle--off">Off</span></label>
                    </div-->
                </div>
                <div class="panel-opciones">
                    <ul>
                        <li><a href="#"><i class="icono-cerrar"></i> Borrar todo</a></li>
                    </ul>
                </div>
                <div class="contenedor-tweets activo">
                    <div class="fila aprobados">
                        <!-- Tweet aprobado 1 -->
                        <li class="tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <a class="eliminar-tweet" href="#"><i class="icono-cerrar"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- fin Tweet aprobado 1 -->
                        <!-- Tweet aprobado 2 -->
                        <li class="tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                        </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <a class="eliminar-tweet" href="#"><i class="icono-cerrar"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- fin Tweet aprobado 2 -->
                        <!-- Tweet aprobado 3 -->
                        <li class="tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <a class="eliminar-tweet" href="#"><i class="icono-cerrar"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- fin Tweet aprobado 3 -->
                        <!-- Tweet aprobado 4 -->
                        <li class="tweet-entrante">
                            <div class="tweet">
                                <div class="fila contenido-tweet">
                                    <div class="columna foto">
                                            <div class="foto-usuario-twitter" style="background: url(/imagenes/usuario-twitter.jpg) no-repeat center center; background-size: cover;">
                                            </div>
                                    </div>
                                    <div class="columna usuario-comentario">
                                        <div class="nombre-usuario">
                                            <h3>@nombredeusuario</h3>
                                        </div>
                                        <div class="comentario">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit #AnTransito</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="botones">
                                    <a class="eliminar-tweet" href="#"><i class="icono-cerrar"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- fin Tweet aprobado 4 -->
                    </div>
                </div>
            </div>
            <div class="social-hound-watermark">
                <img src="/imagenes/socialhound-w.png">
            </div>
        </div>
    </section>  
<div class="loader">
    <div class="contenedor-loader">
        <img src="/imagenes/loader.svg"/>
    </div>
</div>
</body>